{{>partial_header}}
using System;
using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;{{#useSwashbuckle}}
using Swashbuckle.AspNetCore.Annotations;
using Swashbuckle.AspNetCore.SwaggerGen;{{/useSwashbuckle}}
using Newtonsoft.Json;
using System.ComponentModel.DataAnnotations;
using {{packageName}}.Attributes;
using {{packageName}}.Models;

namespace {{packageName}}.Controllers
{ {{#useInterfaces}}
{{>controller_interface}} {{/useInterfaces}} {{#operations}}
    /// <summary>
    /// {{classname}} Controller
    /// </summary>{{#description}}
    [Description("{{description}}")]{{/description}}
    public{{#usePartialControllers}} partial{{/usePartialControllers}} class {{classname}}Controller{{#controllerBaseClass}} : {{controllerBaseClass}}{{/controllerBaseClass}}
    { {{#useInterfaces}}
        private readonly {{interfacePrefix}}{{classname}}Controller _implemented{{classname}}Controller;

        /// <summary>
        /// Constructor accepting interface for implementation of endpoints
        /// </summary>
        public {{classname}}Controller({{interfacePrefix}}{{classname}}Controller implemented{{classname}}Controller)
        {
            _implemented{{classname}}Controller = implemented{{classname}}Controller
                ?? throw new ArgumentNullException(nameof(implemented{{classname}}Controller));
        }
        {{/useInterfaces}} {{#operation}}
        /// <summary>
        /// {{#summary}}{{summary}}{{/summary}}{{#notes}}{{notes}}{{/notes}}
        /// </summary>{{#notes}}
        /// <remarks>{{notes}}</remarks>{{/notes}}{{#allParams}}
        /// <param name="{{paramName}}">{{description}}</param>{{/allParams}}{{#responses}}
        /// <response code="{{code}}">{{message}}</response>{{/responses}}
        [{{httpMethod}}]
        [Route("{{{basePathWithoutHost}}}{{{path}}}")]
        [ValidateModelState]{{#useSwashbuckle}}
        [SwaggerOperation("{{operationId}}")]{{#responses}}{{#dataType}}
        [SwaggerResponse(statusCode: {{code}}, type: typeof({{&dataType}}), description: "{{message}}")]{{/dataType}}{{^dataType}}{{/dataType}}{{/responses}}{{/useSwashbuckle}}
        public virtual {{>operation_result}} {{operationId}}({{#allParams}}{{>pathParam}}{{>queryParam}}{{>bodyParam}}{{>formParam}}{{>headerParam}}{{#hasMore}}, {{/hasMore}}{{/allParams}})
        { {{#useInterfaces}}
            return {{#useAsync}}await {{/useAsync}}_implemented{{classname}}Controller.{{operationId}}({{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
        {{/useInterfaces}}{{^useInterfaces}}{{>operation_sample}}{{/useInterfaces}}
        }
        {{/operation}}
    }
{{/operations}}
{{#useInterfaces}}

#if DEBUG
{{>controller_samples}}
#endif{{/useInterfaces}}
}
