    /// <summary>
    /// {{classname}} Controller Interface
    /// </summary>
    public interface I{{classname}}Controller
    { {{#operations}} {{#operation}}
        /// <summary>
        /// {{#summary}}{{summary}}{{/summary}}{{#notes}}{{notes}}{{/notes}}
        /// </summary>
        {{>operation_result}} {{operationId}}({{#allParams}}{{&dataType}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
{{/operation}} {{/operations}}
    }
